{%extends 'base.html' %}

{% block conteudo %}


<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom text-center">Iniciais de Kanto</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" 
     style="background-image: url('/UnSetPhp/templates/site/assets/principal/img/bulbasaur.jpg'); 
            background-size: cover; 
            background-position: center bottom; 
            min-height: 300px;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="mb-4 display-6 lh-1 fw-bold" 
              style="color: black; font-weight: bold; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
              Bulbasaur
            </h3>                    
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/UnSetPhp/templates/site/assets/principal/img/pokebola.png" alt="Bootstrap" width="32" height="32">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small style="color: black; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
                  Pokémon de grama
                </small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small style="color: black; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
                  #001
                </small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" 
     style="background-image: url('/UnSetPhp/templates/site/assets/principal/img/charmander.jpg'); 
            background-size: cover; 
            background-position: bottom bottom; 
            min-height: 300px;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="mb-4 display-6 lh-1 fw-bold" 
              style="color: black; font-weight: bold; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
              Charmander
            </h3>                    
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/UnSetPhp/templates/site/assets/principal/img/pokebola.png" alt="Bootstrap" width="32" height="32">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small style="color: black; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
                  Pokémon de fogo
                </small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small style="color: black; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
                  #004
                </small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" 
     style="background-image: url('/UnSetPhp/templates/site/assets/principal/img/squirtle.png'); 
            background-size: cover; 
            background-position: center bottom; 
            min-height: 300px;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="mb-4 display-6 lh-1 fw-bold" 
              style="color: black; font-weight: bold; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
              Squirtle
            </h3>                    
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/UnSetPhp/templates/site/assets/principal/img/pokebola.png" alt="Bootstrap" width="32" height="32">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small style="color: black; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
                  Pokémon de água
                </small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small style="color: black; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;">
                  #007
                </small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <h2 class="pb-2 border-bottom text-center">Insígnias de Kanto</h2>

  <div class="d-flex gap-2 justify-content-center py-5">    
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/pedra.webp" alt="Primary" style="height: 50px; width: auto;">
    </a>
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/agua.webp" alt="Primary" style="height: 50px; width: auto;">
    </a>
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/trovao.webp" alt="Primary" style="height: 50px; width: auto;" >
    </a>
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/planta.webp" alt="Primary" style="height: 50px; width: auto;">
    </a>
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/veneno.png" alt="Primary" style="height: 50px; width: auto;">
    </a>
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/psiquico.png" alt="Primary" style="height: 50px; width: auto;">
    </a>
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/fogo.png" alt="Primary" style="height: 50px; width: auto;">
    </a>
    <a href="pagina1.html" class="rounded-pill px-3">
      <img src="/UnSetPhp/templates/site/assets/principal/img/terra.png" alt="Primary" style="height: 50px; width: auto;">
    </a>

</div>

{% endblock%}